.createDirForm, .createDirResult
{
    width: 50%;
    min-width: 300px;
    margin: 25px auto 25px auto;
}

.createDirForm p,input
{
    width: 100%;
    margin: 5px 5px 5px 0;
    font-size: 18px;
}

.createDirResult p
{
    width: 100%;
    margin: 5px 5px 5px 0;
    font-size: 18px;
}
