.filesPanel
{
    width: 90vw;
    margin: 15px  auto 15px auto;
    border-style: solid;
    border-color: #00008b;
    border-width: 2px;
    box-shadow: 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createDir, .uploadFile
{
    width: 185px;
    border-radius: 15px;
    margin: 5px 0 5px 0;
    display: flex;
    align-items: center;
    transition: background-color .5s;
}

.createDir:hover, .uploadFile:hover
{
    background-color: #add8e6;
}

.pathPanel
{
    width: 90vw;
    margin: 15px  auto 15px auto;
    border-style: solid;
    border-color: #00008b;
    border-width: 2px;
    box-shadow: 0 0 5px;
    display: flex;
    align-items: center;
}

.pathPanel a
{
    margin: 5px 0 5px 7px;
}

.pathPanel p
{
    margin-left: 10px;
}

.filesList
{
    margin: 15px  auto 15px auto;
    overflow: scroll;
}

table
{
    width: 90vw;
    margin: 0 auto;
    border-spacing: 0 5px;
}

tr
{
    transition: background-color .5s;
}

tr:hover
{
    background-color: #add8e6;
}

.itemType
{
    width: 55px;
    min-width: 55px;
}

.itemName
{
    width: auto;
}

.itemSize
{
    width: 120px;
    min-width: 120px;
    text-align: center;
}

.itemActions
{
    width: 120px;
    min-width: 120px;
    text-align: right;
}
